<a href="https://colab.research.google.com/github/parth-gz/Data-Analytics-Godrej/blob/main/11_Ecommerce_Purchases_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___
Mr. Yogesh P Murumkar (965708095)

www.youtube.com/yogeshmurumkar
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [ ]:
import pandas as pd

In [ ]:
ecom=pd.read_csv('Datasets/Ecommerce Purchases')

**Check the head of the DataFrame.**

In [ ]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [ ]:
ecom.shape

(3812, 14)

** What is the average Purchase Price? **

In [ ]:
ecom['Purchase Price'].mean()

50.30394647074259

** What were the highest and lowest purchase prices? **

In [ ]:
ecom['Purchase Price'].max()

99.99

In [ ]:
ecom['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [ ]:
ecom[ecom['Language']=='en']['Language'].count()

416

** How many people have the job title of "Lawyer" ? **

In [ ]:
ecom[ecom['Job']=='Lawyer']['Job'].count()

10

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [ ]:
ecom['AM or PM'].value_counts()

AM or PM
PM    1975
AM    1837
Name: count, dtype: int64

** What are the 5 most common Job Titles? **

In [ ]:
ecom['Job'].value_counts().head()

Job
Interior and spatial designer    15
Designer, jewellery              15
Warden/ranger                    13
Charity fundraiser               13
Careers adviser                  13
Name: count, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [ ]:
ecom[ecom["Lot"]=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [ ]:
ecom[ecom['Credit Card']==4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [ ]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             18
Lot                 18
AM or PM            18
Browser Info        18
Company             18
Credit Card         18
CC Exp Date         18
CC Security Code    18
CC Provider         18
Email               18
Job                 18
IP Address          18
Language            18
Purchase Price      18
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [ ]:
ecom[ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25')]["CC Exp Date"].count()

408

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [ ]:
ecom['Email'].apply(lambda email: email.split('@')[1]).value_counts().head()

Email
yahoo.com      647
hotmail.com    635
gmail.com      585
smith.com       14
johnson.com     12
Name: count, dtype: int64

# Great Job!